
.MainPage{
    width: 500px;
    margin: 0 auto;

    #joinPoll{
        margin-left: 30px;
        width: 50px;
    }
    
    #newPoll{
        margin-top: 30px;
        height: 40px;
        width: 100%;
    }

    input{
        margin-left: 0px;
        width: 60%;
    }
}